@font-face {
    font-family: 'thaisans_neuebold';
    src: url('fonts/thaisansneue-bold-webfont.eot');
    src: url('fonts/thaisansneue-bold-webfont.eot?#iefix')
    format('embedded-opentype'),
    url('fonts/thaisansneue-bold-webfont.woff') format('woff'),
    url('fonts/thaisansneue-bold-webfont.ttf') format('truetype'),
    url('fonts/thaisansneue-bold-webfont.svg#thaisans_neuebold')
    format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'thaisans_neueregular';
    src: url('fonts/thaisansneue-regular-webfont.eot');
    src: url('fonts/thaisansneue-regular-webfont.eot?#iefix')
    format('embedded-opentype'),
    url('fonts/thaisansneue-regular-webfont.woff') format('woff'),
    url('fonts/thaisansneue-regular-webfont.ttf') format('truetype'),
    url('fonts/thaisansneue-regular-webfont.svg#rsuregular')
    format('svg');
    font-weight: normal;
    font-style: normal;
}

body{
    font-family: thaisans_neueregular,sans-serif;
}

.screen{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
}

div.pass-container{
    width: 500px;
    height: 200px;
    text-align: center;
    color: #ffffff;
    text-shadow: #0f0f0f 0 0 15px;
}

.flex{
    display: flex;
    align-items: center;
    justify-content: center;
}

div.pass-box{
    width: 50px;
    height: 50px;
    margin: 20px;
    background: #ffffff;
    border-radius: 10px;
    box-shadow: #0f0f0f 0 0 20px;
    opacity: 0.9;
    color: #000;
    font-size: 2em;
    text-shadow:none;
}

.panel{
    background:rgba(255,255,255,0.6);
    border-radius: 0;
    overflow: hidden;
}
.danger{
    color: red;
}

input{
    margin-bottom: 10px;
    border-radius: 0 !important;
    background:rgba(255,255,255,0.9) !important;
}
button{
    border-radius: 0 !important;
}

section#setup-box{
    background-image: url(img/009.jpg);

}
section#setup-box h1{
    text-shadow: #0f0f0f 0 0 20px;
    color: #ffffff;
}

section#checkpoint1{
    background-image: url(img/008.jpg);
}

section#checkpoint2{
    background-image: url(img/010.jpg);
    color: #ffffff;
    text-shadow: #000 0 0 15px;
}
section#success{
    background-image: url(img/002.jpg);
}

section#status{
    background-image: url(img/008.jpg);
}

.flex-start{
    align-self: flex-start;
}

.left{
    text-align: left;
}

.status-title{
    color: #ffffff;
}

#clicker-box{
    height: 400px;
    position: relative;
    overflow: hidden;
    border-top:2px #f15c22 solid;
}
#clicker-count{
    width: 300px;
    position: absolute;
    bottom: 0;
    background: #f15c22;
    margin-left: 50px;
    height: 0;

}

.clicker-status{
    padding: 0.2em;
    height: 1.7em;
    background: #f15c22;
    color: #ffffff;
}

.user{
    position: fixed;
    z-index: 500;
    top: 0;
    left: 0;
    width: 100%;
}
.user>div{
    /*position: fixed;*/
    /*z-index: 500;*/
    /*top: 0;*/
    /*left: 38%;*/
    /*width: 24%;*/
    width: auto;
    text-align: center;
    padding: 5px;
    background-color: rgba(255,255,255,0.5);
    font-size: 1.3em;
    display: none;
}
.puzzle-ans{
    text-align: center;
    background: lightgreen;
}

.success-container{
    background-color: rgba(255,255,255,0.8);
    padding: 20px;
}

.winner{
    display: none;
    background-color: rgba(255,255,255,0.6);
    padding: 20px;
    margin-bottom: 20px;
}


